.certifications-container {
    padding: 2rem;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 100%;
}

.cert-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cert-header > img{
    width: 30px;
    height: 30px
}

.cert-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

.cert-card {
    background: whitesmoke;
    color:  #1a1a1a;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 5px solid #10b981;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(231, 231, 231, 0.3);
    box-sizing: border-box;
    overflow: hidden;
}

.cert-card > h3 {
    margin: 0;
}

.organisation {
    display: flex;
    gap: 5px;
    align-items: center;
}

.organisation > img {
    width: 30px;
    height: 30px;
}