.project-details::-webkit-scrollbar {
      display: none;
}

.projects-container {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 355vh;
    background: #1a1a1a;
}

.project-head {
    display: flex;
    place-items: center;
}

.project-head img{
    width: 30px;
    height: 30px;
}

.project-cards {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 80vh;
    position: sticky;
    top: 0;
}

.project-card {
    position: absolute;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: justify;
    box-sizing: border-box;
    animation: slideAndFade linear both;
    animation-timeline: scroll();
    animation-range: calc(250vh + (var(--position) * 50vh)) calc((250vh + (var(--position) + 1) * 50vh));
    transform: translateX(0%);
    opacity: 1;
}

.project-card:last-child {
    animation: none;
}


.project-details {
    background: #333333;
    box-sizing: border-box;
    padding: 1.5rem;
    width: calc(50% - 20px);
    height: 300px;
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: 15px 15px 15px black;
    overflow: auto;
}

.project-card img {
    box-sizing: border-box;
    width: 50%;
}

@keyframes slideAndFade {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    80% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
@media screen and (max-width: 500px) {
    .project-cards {
        gap: 100px;
    }

    .project-details,
    .project-card img {
        width: 100%; /* Stack them to 100% width when the viewport is narrow */
    }

    .project-details {
        margin-bottom: 10px;
    }
}

.caution {
    background-color: #d1ecf1; /* Soft light blue */
    border: 1px solid #bee5eb; /* Light blue border */
    color: #0c5460; /* Darker blue for text */
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.caution strong {
    font-weight: bold;
    color: #0c5460; /* Darker blue for emphasis */
}



@media (prefers-reduced-motion: reduce) {
    .project-card {
        height: 50vh;
        animation: none !important;
        transform: translateX(0%) !important;
        opacity: 1 !important;
        position: static;
    }
}
