.intro {
    background-image: url("./src/img/home-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.intro h1, .intro h2, .intro h3 {
    background: linear-gradient(to right,#D8D8D8,#C0C0C0,#ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colourTransition 6s ease infinite;
}

html, body {
    overflow-x: hidden;  /* Prevent horizontal scroll */
    width: 100%;  /* Make sure body takes full width */
    height: 100%;  /* Ensure full height for proper scrolling */
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

.my-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.my-photo-container {
    position: relative;
    margin: 0;
    display: flex;
    place-content: center;
}

.my-photo-container::after, .my-photo-container::before {
    content: '';
    width: 200px;
    height: 200px;
    background: #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    border-radius: 50%;
    z-index: -1;
}

.my-photo-container::before {
    filter: blur(4rem);
    opacity: 1;
}

.main-headline {
    text-align: center;
    padding: 0 10px
}

.headline-text, .headline-subtext {
    text-align: center;
}

.intro .typewriter {
  background: linear-gradient(
    -45deg,
    #fff1a8,
    #ffd700,
    #ffb700,
    #fff1a8
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colourTransition 6s ease infinite;
}

@keyframes colourTransition {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}